a{
    color: green;
}
nav{
    margin-bottom: 100px;
}
img{

    display: block;
    border-radius: 30%;
    margin-left: 20px;
}
h1  {
    margin-top: 200px;
    margin-left: 100px;
    text-decoration: underline;
}
h2 {
    margin-top: 200px;
    margin-left: 100px;
}
.materiels {
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: column;

}
body{
    font: italic 1.2em "Roboto", serif;
}
#imageagent{
    position:absolute;
    right: 0;
    display: block;
    clip: rect(20px,55px,100px,0px);
    border-radius: 0;
}