{% extends "./base.html" %}

{% block title %} {{employe.nom}} {% endblock %}

{% block links %}
    <link rel="stylesheet" href="styles/agent.css">
{% endblock %}

{% block content %}
    <img src="{{employe.imgUrl}}" id="imageagent">
    <h1>{{employe.nom + " " + employe.prenom}}</h1>

    <h2>Les Matériels empruntés : </h2>
    <ul class="materiels list-group">
        {% for materiel in employe.getMaterielsEmpruntes() %}
            <li class="list-group-item">
                <span>{{materiel.label}}</span>
                <input type="checkbox" checked >
            </li>
        {% endfor %}
    </ul>
{% endblock %}